{% extends 'ocr_api/layout.html' %}

{% block content%}
   
OCR : 
<form method="post" enctype="multipart/form-data">
   {% csrf_token %}
   <div class="waves-effect waves-light btn" id="browse-container">
  	 <input type="file" id="browse-button" accept="image/*">
   </div>
    <div class="waves-effect waves-light btn" id="upload-button">
        <span>OCR</span>
    </div>
  <div id='stat-table'></div>
   <div class="card uf-card">
        <img class="card crop" id="img-card" width=500 />
   </div>


</form>

  <div id="modal1" class="modal">
      <div class="modal-content">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 100px; float: left;">
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="loading-text">
            <h5>Loading...</h5></div>
        </div>
      </div>
    </div>


{% endblock %}